---
import { H1, H2 } from '~/components/heading'
import { CodeBlock } from '~/components/code-block'
import GoogleAnalytics from '~/components/google-analytics/index.astro'
import cw from './cw.sh?raw'
import define from './define.clum?raw'
import '~/components/styles'
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>🏳️ clumsy</title>
    <GoogleAnalytics />
  </head>
  <body>
    <div class="w-full h-screen flex justify-center items-top">
      <main class="w-full max-w-4xl">
        <article class="flex flex-col gap-y-10">
          <header class="py-4 bg-gradient-to-t from-gray-800 to-gray-900 flex justify-center items-center">
            <H1 class="text-gray-100">Clum</H1>
          </header>
          <section class="bg-white px-4 py-2">
            <H2>Installation</H2>
            <CodeBlock client:load lang='bash' code='$ curl --proto "=https" --tlsv1.2 https://sh.clumsy.world -sSf | sh' />
            <CodeBlock client:load lang='bash' code={cw} />
          </section>
          <section class="bg-white px-4 py-2">
            <H2>Primitive types</H2>
            <ul class="list-disc list-inside">
              <li>i8, i32, i64, i128</li>
              <li>u8, u32, u64, u128</li>
              <li>f32, f64</li>
              <li>char</li>
            </ul>
          </section>
          <section class="bg-white px-4 py-2">
            <H2>Comments</H2>
            <CodeBlock client:load lang='clum' code='// single comment のみ' />
          </section>
          <section class="bg-white px-4 py-2">
            <H2>Define</H2>
            <CodeBlock client:load lang='clum' code={define} />
          </section>
        </article>
      </main>
    </div>
  </body>
</html>
